<h2>Order <%= @order.id %></h2>
<p>Created On: <%= @order.created_at %></p>
<p>Updated On: <%= @order.updated_at %></p>
<p>Status: <%= @order.status %></p>
<p><%= @order.count_of_items %> items</p>
<p>Total: <%= number_to_currency(@order.grand_total) %></p>
<%= button_to 'Cancel Order', "/profile/orders/#{@order.id}", method: :delete if @order.pending? %>

<h2>Order Items</h2>
<% @order.order_items.each do |order_item| %>
  <section id='order-item-<%= order_item.id %>'>
    <h3><%= link_to order_item.item.name, item_path(order_item.item) %></h3>
    <p><%= order_item.item.description %></p>
    <p>Quantity: <%= order_item.quantity %></p>
    <p>Price: <%= number_to_currency(order_item.price) %></p>
    <p>Subtotal: <%= number_to_currency(order_item.subtotal) %></p>
  </section>
<% end %>

<% if @order.pending? %>

  <section id='address'>
    <%= form_tag "/profile/orders/#{@order.id}", method: :patch do %>
      <h5>Please choose an address:</h5>
        <p style=padding-top:3px;><%= select_tag 'address', options_from_collection_for_select(current_user.addresses, 'id', 'nickname'), :include_blank => true %></p>
      <%= submit_tag 'Update Shipping Address' %>
    <% end %>
  </section><br>

<% end %>

  <p>Current Shipping Address:</p>
  <p>Nickname: <%= link_to "#{@order.address.nickname}", "/profile/#{@order.address.id}" %></p>
  <p>Street: <%= @order.address.address %></p>
  <p>City: <%= @order.address.city %></p>
  <p>State: <%= @order.address.state %></p>
  <p>Zip: <%= @order.address.zip %></p>
