<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<%= @user.addresses.each do |address_info| %>
  <p>Street: <%= address_info.address %></p>
  <p>City: <%= address_info.city %></p>
  <p>State: <%= address_info.state %></p>
  <p>Zip: <%= address_info.zip %></p>
<% end %>
